.App {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

button.add:active,
button.add:focus,
button.sub:active,
button.sub:focus {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  width: 50px;
  cursor: pointer;
}

p {
  margin-top: 20px;
}

.add {
  font-family: "Franklin Gothic Medium";
  background-color: rgb(18, 161, 42);
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.sub {
  font-family: "Franklin Gothic Medium";
  font-size: 20px;
  background-color: rgb(212, 15, 42);
  color: white;
  margin-left: 20px;
}

.reset {
  background: #000;
  color: white;
  padding: 10px;
}
